@use 'fonts';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  min-height: 100vh;
}

.textarea {
  display: block;
  width: 1000px;
  height: 300px;
  padding: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 23px;
}

.keyboard-wrapper {
  max-width: 1008px;
  width: 100%;
  background-color: #864747;
}

.row {
  display: flex;
}

.key {
  width: 60px;
  height: 60px;
  background-color: rgb(224, 239, 12);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  transition: .4s;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
  }

  &.active {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    border-radius: 50px;
  }
}

.Backspace {
  width: 120px;
}

.Tab {
  width: 90px;
}

.CapsLock {
  width: 128px;
}

.Enter {
  width: 128px;
}

.ShiftRight,
.ShiftLeft {
  width: 128px;
}

.Space {
  max-width: 465px;
  width: 100%;
}

.caseDown,
.caseUp,
.caps,
.shiftCaps {
  min-height: 60px;
}

.hidden {
  display: none;
}
